[submodule "libultraship"]
	path = libultraship
	url = https://github.com/herringms/libultraship.git
	branch = port-maintenance
[submodule "torch"]
	path = torch
	url = https://github.com/herringms/Torch.git
	branch = main
